{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Aldea {{village.villageName}}</title>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'css/materialize.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .tabs .tab a { color: #5d89bb; }
        .tabs .tab a:hover { color: #1976d2; }
        .tabs .tab a.active { color: #1976d2; }
        .tabs .indicator { background-color: #1976d2; }
    </style>
</head>
<body>
    {% include "GrowYourEmpire/navbar.html" %}
    
    <div class="container">
        <div class="card row blue lighten-5">
            <div class="col s12">
                <h5><i class="material-icons left">cabin</i>{{village.villageName}}</h5>
                <h6>{{text}}</h6>
                {% if village.god == None %}
                <a class="waves-effect waves-light btn blue darken-2 tooltipped" data-tooltip="Elige un dios para tu aldea" href="/GrowYourEmpire/manager/gods">
                    <i class="material-icons left">bolt</i>Elegir dios
                </a>
                {% else %}
                <h5><i class="material-icons left">bolt</i>{{village.god.name}}</h5>
                {% endif %}
            </div>
        </div>
        
        <div class="card row blue">
            <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#resources"><h6>Recursos</h6></a></li>
                <li class="tab col s3"><a href="#production"><h6>Producción</h6></a></li>
                <li class="tab col s3"><a href="#buildings"><h6>Edificios</h6></a></li>
                <li class="tab col s3"><a href="#military"><h6>Militar</h6></a></li>
            </ul>
        </div>
            
        <div id="resources">
            <div class="card blue lighten-5">
                <div class="card-content">
                    <span class="card-title"><i class="material-icons left">inventory_2</i><h5>Almacenamiento</h5></span>
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <div class="center-align">
                                <i class="material-icons medium">restaurant</i>
                                <h5>Alimento</h5>
                                <span class="resource-value tooltipped" data-position="bottom" data-tooltip="Alimento almacenado"><h5>{{village.storedFood}}</h5></span>
                            </div>
                        </div>
                        <div class="col s12 m4 l4">
                            <div class="center-align">
                                <i class="material-icons medium">park</i>
                                <h5>Madera</h5>
                                <span class="resource-value tooltipped" data-position="bottom" data-tooltip="Madera almacenada"><h5>{{village.storedWood}}</h5></span>
                            </div>
                        </div>
                        <div class="col s12 m4 l4">
                            <div class="center-align">
                                <i class="material-icons medium">landscape</i>
                                <h5>Piedra</h5>
                                <span class="resource-value tooltipped" data-position="bottom" data-tooltip="Piedra almacenada"><h5>{{village.storedStone}}</h5></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a class="waves-effect waves-light btn blue darken-2 s12 m6 l6" href="/GrowYourEmpire/manager/trade">
                        <i class="material-icons left">swap_horiz</i>Comerciar
                    </a>
                    <a class="waves-effect waves-light btn blue darken-2 s12 m6 l6" href="/GrowYourEmpire/manager/manageOffers">
                        <i class="material-icons left">list</i>Ver ofertas
                    </a>
                </div>
            </div>
        </div>
        
        <div id="production">
            <div class="card blue lighten-5">
                <div class="card-content">
                    <span class="card-title"><i class="material-icons left">trending_up</i><h5>Producción Diaria</h5></span>
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <div class="center-align">
                                <i class="material-icons medium">restaurant</i>
                                <h5>Alimento</h5>
                                <p>Nivel: {{village.foodLevel}}</p>
                                <span class="resource-value tooltipped" data-position="bottom" data-tooltip="Producción diaria de alimento"><h5 class="green-text">{{village.dailyFood|floatformat}}</h5></span>
                                <div class="card-action">
                                    <a class="waves-effect waves-light btn blue darken-2" href="/GrowYourEmpire/manager/upgrade">
                                        <i class="material-icons left">arrow_upward</i>Mejorar
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m4 l4">
                            <div class="center-align">
                                <i class="material-icons medium">park</i>
                                <h5>Madera</h5>
                                <p>Nivel: {{village.woodLevel}}</p>
                                <span class="resource-value tooltipped" data-position="bottom" data-tooltip="Producción diaria de madera"><h5 class="green-text">{{village.dailyWood|floatformat}}</h5></span>
                                <div class="card-action">
                                    <a class="waves-effect waves-light btn blue darken-2" href="/GrowYourEmpire/manager/upgrade">
                                        <i class="material-icons left">arrow_upward</i>Mejorar
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m4 l4">
                            <div class="center-align">
                                <i class="material-icons medium">landscape</i>
                                <h5>Piedra</h5>
                                <p>Nivel: {{village.stoneLevel}}</p>
                                <span class="resource-value tooltipped" data-position="bottom" data-tooltip="Producción diaria de piedra"><h5 class="green-text">{{village.dailyStone|floatformat}}</h5></span>
                                <div class="card-action">
                                    <a class="waves-effect waves-light btn blue darken-2" href="/GrowYourEmpire/manager/upgrade">
                                        <i class="material-icons left">arrow_upward</i>Mejorar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="buildings">
            <div class="card blue lighten-5">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12 m6 l6 center-align">
                            <span class="card-title"><i class="material-icons">security</i><h5>Murallas</h5></span>
                            <p>Nivel: {{village.wallLevel}}</p>
                            <div class="card-action">
                                <a class="waves-effect waves-light btn blue darken-2" data-position="bottom" href="/GrowYourEmpire/manager/upgrade">
                                    <i class="material-icons left">arrow_upward</i>Mejorar
                                </a>
                            </div>
                        </div>
                        <div class="col s12 m6 l6 center-align">
                            <span class="card-title"><i class="material-icons">warehouse</i><h5>Almacén</h5></span>
                            <p>Nivel: {{village.storageLevel}}</p>
                            <div class="card-action">
                                <a class="waves-effect waves-light btn blue darken-2" data-position="bottom" href="/GrowYourEmpire/manager/upgrade">
                                    <i class="material-icons left">arrow_upward</i>Mejorar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="military"> 
            <div class="card blue lighten-5">
                <div class="card-content center-align">
                    <span class="card-title"><i class="material-icons">military_tech</i><h5>Ejército</h5></span>
                    <p>{{village.soldiers}} Soldados</p>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn blue darken-2 tooltipped" data-position="bottom" data-tooltip="Entrena más soldados" href="/GrowYourEmpire/manager/train">
                            <i class="material-icons left">person_add</i>Entrenar
                        </a>
                        <a class="waves-effect waves-light btn blue darken-2 tooltipped data-position="bottom" data-tooltip="Ataca a otras aldeas" href="/GrowYourEmpire/manager/attack">
                            <i class="material-icons left">flag</i>Atacar
                        </a>
                    </div>
                </div>
            </div>
        </div>
            
        <div id="events">
            <div class="card">
                <div class="card-content blue lighten-5">
                    <span class="card-title"><i class="material-icons left">history</i>Actividades Recientes</span>
                    {% for activity in activities %}
                    <div>
                        <span class="badge">{{activity.activityDate|date:"d-m-Y H:m"}}</span>
                        <p>{{activity.activityText}}</p>
                    </div>
                    <div class="divider"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/init-materialize.js' %}"></script>
</body>
</html>
