    <nav>
        <div class="nav-wrapper blue accent-2">
            <a href="#" data-target="menu-nav" class="sidenav-trigger left show-on-large"><i class="material-icons">menu</i></a>
            <a class="brand-logo white-text hide-on-small-only" href="/GrowYourEmpire">Grow Your Empire</a>
        </div>
    </nav>
    <ul class="sidenav left" id="menu-nav">
        <li><a href="/GrowYourEmpire" class="tooltipped" data-position="bottom" data-tooltip="Página principal"><i class="material-icons left">home</i>Página Principal</a></li>
        <li><a href="/GrowYourEmpire/manager" class="tooltipped" data-position="bottom" data-tooltip="Gestionar Aldea"><i class="material-icons left">cabin</i>Gestionar aldea</a></li>
        <li><a href="/GrowYourEmpire/manager/gods" class="tooltipped" data-position="bottom" data-tooltip="Gestionar dioses"><i class="material-icons left">whatshot</i>Dioses</a></li>
        <li><a href="/GrowYourEmpire/events" class="tooltipped" data-position="bottom" data-tooltip="Ver eventos"><i class="material-icons left">event</i>Eventos</a></li>
        <li><a href="/GrowYourEmpire/rules" class="tooltipped" data-position="bottom" data-tooltip="Ver reglas del juego"><i class="material-icons left">book</i>Reglas</a></li>
        <li><a href="/GrowYourEmpire/ranking" class="tooltipped" data-position="bottom" data-tooltip="Ranking"><i class="material-icons left">leaderboard</i>Ranking</a></li>
        <li><a href="/GrowYourEmpire/suggestions" class="tooltipped" data-position="bottom" data-tooltip="Enviar sugerencia"><i class="material-icons left">history_edu</i>Enviar sugerencia</a></li>
        <li><a href="/GrowYourEmpire/logout" class="tooltipped" data-position="bottom" data-tooltip="Cerrar sesión"><i class="material-icons left">exit_to_app</i>Cerrar sesión</a></li>
    </ul>
